<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-progressbar
    [value]="value"
    [total]="100"
    [color]="'#16a085'"
    [configStyle]="{'height': '40px', 'padding': '20px'}"
    (changed)="changedProgressbar($event)"
    (completed)="completedProgressbar($event)"
  ></app-progressbar>

<br>
  <button class="btn btn__primary" (click)="increment()">INCREMENT</button>

</div>

 -->
<div style="text-align:center">
  <h4>Example 1</h4>
  <app-tp35-raiting>
  </app-tp35-raiting>

  <h4>Example 2</h4>
  <app-tp35-raiting value="5" [icon]="'cards-heart'" [total]="10" [colorChecked]="'#e74c3c'">
  </app-tp35-raiting>

  <h4>Example 3</h4>
  <app-tp35-raiting value="6" [icon]="'cup'" [total]="6" [colorChecked]="'#d35400'">
  </app-tp35-raiting>

  <h4>Example 4</h4>
  <app-tp35-raiting value="3" [icon]="'thumb-up'" [total]="8" [colorChecked]="'#3498db'">
  </app-tp35-raiting>
</div>
